<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Demo</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<div class="wrap">
    <nav class="navbar-inverse navbar-fixed-top navbar" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/"><i class="fa fa-home"></i> TRANG CHỦ</a></div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav navbar-right nav">
                    <li><a href="/video"><i class="fa fa-video-camera"></i> VIDEO</a></li>
                    <li><a href="/tin-tuc"><i class="fa fa-newspaper-o"></i> TIN TỨC</a></li>
