<link rel="stylesheet" href="/css/chatbox.css">
<div class="chatbox">
    <div class="head">Chat</div>
    <div class="chatlogs">
        <div class="chat friend">
            <div class="user-photo"><img src="/images/no-admin.png"></div>
            <p class="chat-message">Admin mes</p>
        </div>
        <div class="chat self">
            <div class="user-photo"><img src="/images/no-user.png"></div>
            <p class="chat-message">User mes</p>
        </div>
    </div>
    <div class="chat-form">
        <textarea></textarea>
        <button class="btn btn-primary">Send</button>
    </div>
</div>