<div class="modal fade in" id="login-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body">
                <div id="login_error" class="alert alert-danger" style="display: none">
                    <span class="glyphicon glyphicon-remove"></span>
                    Wrong emal or password.
                </div>
                <form id="login_form" action="/site/login" method="post">
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
                        <input type="email" class="form-control" id="login_email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <div class="col-sm-6">
                    <a href="/connect/facebook" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                    <a href="/connect/google" class="btn btn-social-icon btn-google"><span class="fa fa-google"></span></a>
                    <a href="/connect/github" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a>
                    <a href="/connect/linkedin" class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                </div>
                <p>Not yet member? <a href="#" id="signup_link" data-dismiss="modal">Signup</a></p>
            </div>
        </div>
    </div>
</div>

<script>
login_form.onsubmit = (e) => {
    e.preventDefault();
    $('#login_error').css({display: 'none'});
    var data_post = {
        email: login_email.value,
        password: password.value,
    };
    $.post('/site/login-validate', data_post)
        .success(result => {
            if (result) {
                e.target.submit();
            } else {
                $('#login_error').css({display: 'block'});
            }
        })
    ;
};
signup_link.onclick = () => {
    $('#signup-modal').modal();
}
</script>