<div class="modal fade in" id="signup-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Signup</h4>
            </div>
            <div class="modal-body">
                <div id="signup_error" class="alert alert-danger" style="display: none">
                    <span class="glyphicon glyphicon-remove"></span>
                    This emal has already been taken.
                </div>
                <form id="signup_form" action="/site/signup" method="post">
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                        <input type="email" class="form-control" id="signup_email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-user"></span> Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone"><span class="glyphicon glyphicon-phone"></span> Phone</label>
                        <input type="text" class="form-control" name="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="birthday"><span class="glyphicon glyphicon-calendar"></span> Birthday</label>
                        <input type="date" class="form-control" name="birthday">
                    </div>
                    <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Signup</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p>Have an account? <a href="#" id="login_link" data-dismiss="modal">Login</a></p>
            </div>
        </div>
    </div>
</div>

<script>
signup_form.onsubmit = (e) => {
    e.preventDefault();
    $('#signup_error').css({display: 'none'});
    var data_post = {
        email: signup_email.value,
    };
    $.post('/site/signup-validate', data_post)
        .success(result => {
            if (result) {
                e.target.submit();
            } else {
                $('#signup_error').css({display: 'block'});
            }
        })
    ;
};
login_link.onclick = () => {
    $('#login-modal').modal();
}
</script>