.quantity-input {
    width: 32px;
    text-align: center;
}
.center {
    text-align: center;
}
.table-games th, .table-games td {
    vertical-align: middle !important;
    text-align: center;
}
.table-games img {
    width: 50px;
}